*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.cover-bg{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.mt-20{
	margin-top: 20px;
	color: #fff;
}

.mb-20{
	margin-bottom: 20px; 
}

.mb-30{
	margin-bottom: 30px;
	margin-top: 50px;
	margin-left: 850px;
	letter-spacing: 1px;
	margin-top: -90%
}

.mt-30{
	margin-top: 30px;
	margin-bottom: 50px;
}

.text{
	color: #fff;
	margin-bottom: 250px;
	
}

.py-15{
	padding-top: 15px;
	padding-bottom: 15px;
}

.mt-35{
	color: #fff;
	margin-bottom: 150px;
}

}
h1, h2, h3, h4{
	font-family: 'lato', sans-serif;
	color: #fff;
	font-weight: 700;
	font-size: 70px;
}

p{
	line-height: 1.6;
	color: #fff;

} 

span, a{
	display: inline-block;
}

/*** section title css ***/
.section_paddings{
	background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../images/163-1639745_download-this-wallpaper-picsart-editing-photos-hd-background.jpg);
	background-attachment: fixed;
}

.section_title{
	position: relative;
	margin-bottom: 70px;
	width: 100%;
}
.section_title p{
	background-color: #000;
	color: #fff
	display:inline-block;
	margin-bottom: 5px;
	text-align: center;
	text-transform: uppercase;
	padding: 0 12px;
	letter-spacing: 1px;
}

.section_title h3{
	position: relative;
	font-size: 36px;
	text-transform: capitalize;
	line-height: 1.14;
	letter-spacing: 1.4px;
	padding-bottom: 13px;
	color: #fff;
}

.section_title h3:after{
	content: '';
	position: absolute;
	display: block;
	height: 30px;
	width: 2px;
	bottom: -30px;
	left: 50%;
	background-color: #1957f3;
	transform: translate(-50%,0);
}

.section_padding{
	background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../images/5d97b8478ab7fefd6af1b85225640e6d.jpg);
	background-attachment: fixed;
}


/*** button css ***/
.btn{
	background-color: #1957f3;
	border: 2px solid #1957f3;
	padding: inset 0 0 0 0 #fff;
	letter-spacing: 1px;
	border-radius: 0;
	color: #fff;
	font-size: 14px;
	transition: 0.8s all;
	margin-bottom: 50px;
}

.btn:hover{
	box-shadow: inset 12em 0 0 0 #fff;
	color: #1957f3
}
/*** navbar css ***/
.custom_logo{
	background: #1957f3;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	padding: 0 25px;
	letter-spacing: 1px;
	line-height: 2;
	transform: skewX(30deg);
}

.custom_logo span{
	transform: skewX(-30deg);
}

.navbar-dark .navbar-nav .nav-link{
	color: #000;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 14px;
	transition: 0.5s all;
}

html{
	scroll-behavior:smooth;
}

.navbar-dark .navbar-nav .nav-link:hover{
	color: #1957f3;
}
.navbar{
	padding: 15px 0;
	background: transparent;
}
/*** banner section css ***/
.banner{
	background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../images/medical-care.jpg);
	background-attachment: fixed;
	height: 100vh;
	width: 100%
}
.banner .caption h4{
	color: #fff;
	font-size:20px;
	font-weight: 400;
}

.banner.caption h2{
	color: #fff;
	font-size:100px;
	letter-spacing: -1px;
}

.banner.caption p{
	font-size:17px;
	color: #fff;
	line-height: 32px;
	opacity: 0.7;
}  

.banner .caption .social_icon a{
	color: #fff;
	width: 40px;
	height:40px;
	line-height: 40px;
	border-radius: 50%;
	background-color: blue;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
	font-size: 16px;
	transition: 0.5s all;
}

.banner .caption .social_icon a:hover{
	color: #1957f3;
}

/**** about section css ****/
.about .part_text h4{
	font-size: 24px;

}
.about .part_text p{
	border-bottom: 1px solid #f1f1f1;
}

.info .part_text .info li{
	width: 48%;
	display: inline-block;
	margin-bottom: 15px;
}

/*** hire me section css ***/
.Hire_me{
	background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../images/milky-way-2695569_960_720.jpg);
	background-attachment: fixed;
}

.Hire_me h2{
	color: #fff;
	font-size: 52px;
	font-weight: 800;
	
}

/*** service section css***/
.services .services_box{
	border: 1px solid #fafafa;
transition: all 0.5s;
}

.services .services_box:hover{
	box-shadow: -1px 3px 10px 0 rgba(0,0,0,0.06);
}

.services .box{
	position: relative;
	padding: 50px;
}

 .icon i{
	color: #1957f3
	font-size:38px;
}

.services .box_title{
	position: relative;
	margin-top: 10px;
	padding-bottom: 8px;
	font-size: 26px;
	overflow: hidden;
}

.img-fluid{
	margin-left: 450px;
}


/*** testimonial css ***/
.testimonial .section_title h3{
	color: #fff
}

.testimonial .testimonial_item{
	text-align: center;
	background: linear-gradient(to right, transparent, rgba(200, 200, 200, 0.1), transparent);
	padding: 30px;
}

.testimonial .testimonial_item .icon i{
	color: #1957f3;
	font-size: 30px;
}

.testimonial .testimonial_item p{
	max-width: 700px;
	margin: auto;
	margin-bottom: 20px;
	color: #fff;
}

.testimonial .testimonial_item .testimonial_author{
	display: flex;
	justify-content: center;
	align-items: center;
}

.testimonial .testimonial_item .testimonial_author .part_img{
	width: 50px;
	height: 50px;
	border-radius: 50%
	margin-right: 20px;
}

.testimonial .testimonial_item .testimonial_author .part_img img{
	border-radius: 50%
}

.testimonial .testimonial_item .testimonial_author .text{
	text-align: left;
}

.testimonial .testimonial_item .testimonial_author .text h5{
	color: #fff;
	font-size: 16px;
	margin-bottom: 5px;
}

.testimonial .testimonial_item .testimonial_author .text h6{
	color: #ccc;
	font-size: 14px;
}


/*** footer section css ***/
.footer{
	background: #212121;
	padding: 80px 0;
}
.footer .logo{
	width: 100%
	margin-bottom: 30px;
}

.footer .logo .custom_logo{
	background: #1957f3;
	color: #fff;
	text-align: center;
	margin-left: 455px;
	margin-bottom: 40px;
	text-transform: uppercase;
	padding: 0 25px;
	letter-spacing: 1px;
	line-height: 2;
	transform: skewX(30deg);
}

.footer .logo .custom_logo span{
	transform: skewX(-30deg);
}

.footer .social_icon{
	margin: 0 auto;
	width: 100%
}

.footer .social_icon a{
	display: inline-block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 50%;
	margin-right: 10px;
	background: #252525;
	transition: 0.5s all;

}

.footer .social_icon a i{
	color: #fff;
	font-size: 14px;
}

.footer .social_icon a:hover{
	background: #1957f3;
}

 .footer.copy{
 	width: 100%;
 	padding-top: 30px;
 }

 .footer .copy h6{
 	color: #999;
 	font-size: 14px;
 	font-weight: 400;
 	letter-spacing: 2px;
 	margin-left: 435px;
 	margin-top: 50px;
 }